---
import clsx from 'clsx';

const { color = 'green' } = Astro.props;
---

<span
  class={clsx(
    'font-semibold text-sm lg:text-lg',
    color === 'green' && 'text-emerald-600',
    color === 'cyan' && 'text-cyan-600',
    color === 'rose' && 'text-rose-600',
  )}
>
  <slot />
</span>
