---
import clsx from 'clsx';

const { color = 'green' } = Astro.props;
---

<p
  class={clsx(
    'text-base font-semibold leading-7',
    color === 'green' && 'text-emerald-600',
    color === 'cyan' && 'text-cyan-600',
    color === 'rose' && 'text-rose-600',
  )}
>
  <slot />
</p>
