---
import AnimatedBlock from "../../components/UI/Animated/AnimatedBlock";
import AnimatedHeader from "../../components/UI/Animated/AnimatedHeader";
import SectionWrapper from "../../components/UI/SectionWrapper.astro";
import Layout from "../../layouts/Layout.astro";
import { getAssetURL } from "../../utils/get-asset-url";
import { getDirectusClient } from "../../utils/get-directus-client";

type BlogPost = {
  id: string;
  title: string;
  slug: string;
  description: string;
  body: string;
  cover_photo: string;
};

const directus = await getDirectusClient();

const blogs = (await directus.items("blog").readByQuery()).data as BlogPost[];
const highlightBlog = blogs[0];
---

<Layout title="Blogi * Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <SectionWrapper>
    <div class="relative mx-auto max-w-3xl px-4 pt-8 lg:pt-0 2xl:max-w-5xl">
      <div class="flex w-full max-w-sm grow flex-col lg:max-w-md 2xl:max-w-xl">
        <AnimatedHeader client:load delay={0.24}>Blogi</AnimatedHeader>
        <AnimatedBlock client:load delay={0.42}>
          <a
            href={`/blog/${highlightBlog.slug}`}
            class="mt-8 flex max-w-[370px] flex-col items-start justify-between"
          >
            <div class="relative w-full">
              <img
                class="h-96 w-full rounded-lg object-cover shadow-lg"
                src={getAssetURL({
                  id: highlightBlog.cover_photo,
                  width: 400,
                  quality: 90,
                  fit: "cover",
                })}
              />
              <div
                class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
              >
              </div>
            </div>
            <div class="max-w-xl">
              <div class="group relative">
                <h2
                  class="mb-2 mt-4 text-xl font-semibold leading-6 text-emerald-600 lg:text-2xl"
                >
                  {highlightBlog.title}
                </h2>
                <p class="text-sm leading-7 text-zinc-600 lg:text-base">
                  {highlightBlog.description}
                </p>
              </div>
            </div>
          </a>
        </AnimatedBlock>
      </div>
    </div>
  </SectionWrapper>
</Layout>
