---
import AnimatedBlock from "../../components/UI/Animated/AnimatedBlock";
import AnimatedHeader from "../../components/UI/Animated/AnimatedHeader";
import SectionWrapper from "../../components/UI/SectionWrapper.astro";
import Layout from "../../layouts/Layout.astro";

const DOCUMENTS = [
  {
    id: 1,
    name: "EVÜS põhikiri",
    href: "https://drive.google.com/file/d/1Eov1sy9xs0KTwOGbGFob-EL-vq4PzP0b/view",
  },
  {
    id: 2,
    name: "EVÜS arve",
    href: "https://docs.google.com/document/d/1qH6f7u53VX0jTMxf8FdBs1fNpotRsdWWVHG-28Jd3ps/edit?usp=sharing",
  },
  {
    id: 3,
    name: "Seltsi liikmeks astumise avaldus",
    href: "https://docs.google.com/document/d/1Q_U0uW1qddGVR-NxNtM0wnFmjDaXjlgG/edit?usp=sharing&ouid=117776937123489195764&rtpof=true&sd=true",
  },
  {
    id: 4,
    name: "Seltsist väljaastumise avaldus",
    href: "https://docs.google.com/document/d/1y6TL1R68LxesDuIOnwuoZBnWF9dkv4wl/edit?usp=sharing&ouid=117776937123489195764&rtpof=true&sd=true",
  },
  {
    id: 5,
    name: "Juhatusse kandideerimise avaldus",
    href: "https://docs.google.com/document/d/1NaGntcIzUUrBY6HxtlvaNLlGGkjSkK0A/edit?usp=sharing&ouid=117776937123489195764&rtpof=true&sd=true",
  },
  {
    id: 6,
    name: "Üldkoosoleku hääleõiguse volitus",
    href: "https://docs.google.com/document/d/16f8GWaERlLnmCVGI_e114LYLghsWhCm5mFbm5w2MWLE/edit?usp=sharing",
  },
];
---

<Layout
  title="Seltsi dokumendid * Eesti Veterinaarmeditsiini Üliõpilaste Selts"
>
  <SectionWrapper>
    <div
      class="relative mx-auto max-w-3xl px-4 pt-20 md:pt-8 lg:pt-0 2xl:max-w-5xl"
    >
      <AnimatedHeader client:load>Dokumendid</AnimatedHeader>
      <AnimatedBlock client:load delay={0.12}>
        <ul class="mt-8 flex flex-col gap-4">
          {
            DOCUMENTS.map((document) => {
              return (
                <a
                  href={document.href}
                  target="_blank"
                  class="mb-3 text-base font-medium leading-6 text-emerald-600 underline hover:text-emerald-700 lg:text-lg"
                >
                  {document.name}
                </a>
              );
            })
          }
        </ul>
      </AnimatedBlock>
    </div>
  </SectionWrapper>
</Layout>
