---
import AnimatedBlock from "../../components/UI/Animated/AnimatedBlock";
import AnimatedHeader from "../../components/UI/Animated/AnimatedHeader";
import SectionWrapper from "../../components/UI/SectionWrapper.astro";
import Layout from "../../layouts/Layout.astro";

const DOCUMENTS = [
  { id: 0, name: "EVÜS kodukord", href: "#" },
  {
    id: 1,
    name: "EVÜS põhikiri",
    href: "https://drive.google.com/file/d/1Eov1sy9xs0KTwOGbGFob-EL-vq4PzP0b/view",
  },
  { id: 2, name: "Seltsi liikmeks astumise avaldus", href: "#" },
  { id: 3, name: "Seltsist väljaastumise avaldus", href: "#" },
  { id: 4, name: "Juhatusse kandideerimise avaldus", href: "#" },
  { id: 5, name: "   Üldkoosoleku hääleõiguse volitus", href: "#" },
];
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex min-h-screen flex-col items-center">
    <SectionWrapper>
      <div
        class="relative mx-auto max-w-3xl px-4 pt-20 sm:pt-12 md:pt-0 2xl:max-w-5xl"
      >
        <AnimatedHeader client:load delay={0.24}>Dokumendid</AnimatedHeader>
        <AnimatedBlock client:load delay={0.42}>
          <ul class="mt-8 flex flex-col gap-4">
            {
              DOCUMENTS.map((document) => {
                return (
                  <a
                    href={document.href}
                    target="_blank"
                    class="mb-3 text-sm leading-6 text-emerald-600 underline hover:text-emerald-700 lg:text-base"
                  >
                    {document.name}
                  </a>
                );
              })
            }
          </ul>
        </AnimatedBlock>
      </div>
    </SectionWrapper>
  </main>
</Layout>
