---
import { Picture } from "@astrojs/image/components";
import Teams from "../../components/Teams";
import AnimatedBlock from "../../components/UI/Animated/AnimatedBlock";
import AnimatedHeader from "../../components/UI/Animated/AnimatedHeader";
import SectionWrapper from "../../components/UI/SectionWrapper.astro";
import Layout from "../../layouts/Layout.astro";
import Board from "../../modules/InfoPage/Board";
import { getAssetURL } from "../../utils/get-asset-url";
import { getDirectusClient } from "../../utils/get-directus-client";
import { getSegment } from "../../utils/get-segment";

type Leader = {
  name: string;
  team: string;
  image: string;
  order: number;
  currently_active: boolean;
  active_date: string;
};

type Team = {
  id: string;
  name: string;
  description: string;
  image: string;
  order: number;
};

if (import.meta.env.PROD) {
  const analytics = getSegment();
  analytics?.track("Page loaded", {
    url: "/info/teams",
  });
}

const directus = await getDirectusClient();
const leaders = (
  await directus.items("leader").readByQuery({ sort: ["order" as never] })
).data as Leader[];
const teams = (
  await directus.items("team").readByQuery({ sort: ["order" as never] })
).data as Team[];
---

<Layout
  title="Juhatus ja meeskonnad * Eesti Veterinaarmeditsiini Üliõpilaste Selts"
>
  <SectionWrapper>
    <div
      class="relative mx-auto max-w-3xl px-4 pt-20 md:pt-8 lg:pt-0 2xl:max-w-5xl"
    >
      <AnimatedHeader client:load>Juhatus ja meeskonnad</AnimatedHeader>
      <AnimatedBlock client:load delay={0.12}>
        <p class="my-5 text-base leading-7 text-zinc-600 lg:text-lg">
          Seltsil on viieliikmeline juhatus, mis koosneb esinaisest ja neljast
          juhatuse liikmest, kellest viimased vastutavad oma toimkonna tegevuse
          eest. Kõik töötavad ühise eesmärgi nimel - muuta veterinaariaõpe
          huvitavamaks ja tulemuslikumaks. Juhatuse ja meeskonddade ülesannete
          kohta saate täpsemalt lugeda
          <a
            href="/info/documents/"
            class="cursor-pointer font-medium text-emerald-600 underline hover:text-emerald-700"
            >seltsi põhikirjast</a
          > või <a
            href="/info/teams/#teams"
            class="cursor-pointer font-medium text-emerald-600 underline hover:text-emerald-700"
            >meeskondade kirjeldustest</a
          >.
        </p>
        <h2
          class="mt-8 mb-4 text-xl font-semibold leading-6 text-emerald-600 lg:text-2xl"
        >
          Juhatuse liikmed
        </h2>
        <p class="mt-5 text-base leading-7 text-zinc-600 lg:text-lg">
          Juhatuse liikmed vastutavad seltsi üldise juhtimise ja oma toimkonna
          siseste protsesside eest. Kõik juhatuse liikmed on pühendunud ja
          entusiastlikud veterinaariaõppe edendamisele ning üliõpilaste
          toetamisele, olles ise samuti veterinaaria eriala tudengid.
        </p>
        <p class="mt-3 text-base leading-7 text-zinc-600 lg:text-lg">
          Alates 2023/24 õppeaastast lisandus juhatusse uus meeskond -
          sisekommunikatsioon.
        </p>
        <Board boardMembers={leaders} client:visible />
        <h2
          class="relative mt-8 text-xl font-semibold leading-6 text-emerald-600 lg:text-2xl"
        >
          <span id="teams" class="absolute left-0 -top-24"></span>
          Meeskonnad
        </h2>
        <p class="mt-5 text-base leading-7 text-zinc-600 lg:text-lg">
          Meeskonnad vastutavad erinevate projektide ja ürituste korraldamise
          eest. Meil on mitmeid meeskondi, mis tegelevad erinevate
          valdkondadega, nagu haridus- ja karjääriüritused, suhtlus ja turundus,
          ning sotsiaalsed ja heategevuslikud ettevõtmised. Meie meeskonnad
          koosnevad tudengitest, kes soovivad anda oma panuse EVUSi ja Eesti
          veterinaariaõppe arengusse.
        </p>
      </AnimatedBlock>
    </div>
    <div
      class="mx-auto mt-8 max-w-3xl overflow-hidden rounded-lg border border-zinc-100 bg-slate-50 p-8 lg:max-w-5xl 2xl:max-w-7xl"
    >
      <Teams client:visible teams={teams}>
        {
          teams.map((team) => {
            return (
              <div class="mt-6 w-full flex-none lg:mt-8 lg:grid lg:grid-cols-5">
                <p class="mx-6 text-base leading-7 text-zinc-600 lg:col-span-3 lg:text-lg">
                  {team.description}
                </p>
                <div class="relative mt-4 flex h-fit w-full justify-center overflow-hidden rounded-lg pl-2 pr-6 lg:col-span-2 lg:mt-0">
                  <Picture
                    src={
                      getAssetURL({
                        id: team.image,
                        width: 350,
                        height: 350,
                        fit: "cover",
                        quality: 100,
                      }) as string
                    }
                    alt="Team image"
                    widths={[350]}
                    aspectRatio="1:1"
                    sizes="350px"
                    class="rounded-lg"
                  />
                </div>
              </div>
            );
          })
        }
      </Teams>
    </div>
  </SectionWrapper>
</Layout>
