---
import Navbar from '../components/Navbar/Navbar';
import Layout from '../layouts/Layout.astro';
import '../styles.css';
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load />
    <section class="min-h-screen bg-emerald-500 w-full"></section>
    <section class="min-h-screen w-full"></section>
  </main>
</Layout>
