---
import { Image } from '@astrojs/image/components';
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar';
import About from '../components/pages/Home/About.astro';
import Blog from '../components/pages/Home/Blog.astro';
import Hero from '../components/pages/Home/Hero.astro';
import SectionWrapper from '../components/UI/SectionWrapper.astro';
import Layout from '../layouts/Layout.astro';

const { pathname } = Astro.url;
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load currentPath={pathname} />
    <SectionWrapper>
      <Hero />
    </SectionWrapper>
    {/* Testimonials */}
    <div class="bg-emerald-600 w-full">
      <div class="mx-auto max-w-lg py-16 px-4">
        <div class="flex items-center justify-center gap-5 flex-col">
          <h6 class="text-white font-semibold text-lg tracking-wide">
            Meid toetavad
          </h6>
          <div class="h-[3px] w-24 bg-white rounded-full"></div>
        </div>
        <div class="mt-2 -ml-8 flex flex-wrap justify-between lg:-ml-4">
          <div
            class="relative mt-4 ml-8 w-[100px] h-[50px] lg:w-[230px] lg:h-[100px] flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"
          >
            <Image
              src="./Valge-01.png"
              height={80}
              width={250}
              alt="image"
              format="webp"
              class="absolute top-1/2 left-1/2 min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2"
            />
          </div>
          <div
            class="relative mt-4 ml-8 w-[100px] h-[50px] lg:w-[230px] lg:h-[100px] flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0"
          >
            <Image
              src="./sumboolika_4.png"
              height={200}
              width={300}
              alt="image"
              format="webp"
              class="absolute top-1/2 left-1/2 min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2"
            />
          </div>
        </div>
      </div>
    </div>
    <SectionWrapper className="bg-emerald-50/40 backdrop-blur">
      <About />
    </SectionWrapper>
    <SectionWrapper className="bg-emerald-50/40 backdrop-blur">
      <Blog />
    </SectionWrapper>
    <Footer />
  </main>
</Layout>
