---
import { Image } from '@astrojs/image/components';
import Navbar from '../components/Navbar/Navbar';
import Layout from '../layouts/Layout.astro';
import '../styles.css';
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load />
    <section class="relative min-h-screen w-full">
      <div class="absolute top-0 left-0 h-2/5 w-full bg-emerald-500 z-0"></div>
      <div class="z-20 relative px-4 pt-[140px] flex flex-col gap-16">
        <h1 class="text-4xl text-white font-semibold leading-tight">
          Eesti Veterinaarmeditsiini Üliõpilaste <br /> Selts
        </h1>
        <div class="flex flex-col items-center gap-12">
          <div class="w-[300px] h-[400px] overflow-hidden">
            <Image
              src="./People.webp"
              width={1024}
              height={683}
              alt="image"
              format="webp"
              class="object-cover object-center block w-full h-full"
            />
          </div>
          <div class="w-[300px] h-[400px] overflow-hidden">
            <Image
              src="./Party.jpg"
              width={2621}
              height={3729}
              alt="image"
              format="jpg"
              class="object-cover object-center block w-full h-full"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <div class="h-1 w-6 bg-emerald-500 rounded-full"></div>
            <h6 class="text-emerald-500 font-bold">MEIE MISSIOON</h6>
          </div>
          <h2 class="font-bold text-2xl text-slate-800">
            Tutvustada ja arendada veterinaarmeditsiini eriala üliõpilaste õppe-
            ja teadustööd.
          </h2>
          <p class="text-slate-800 mt-2">
            Pakkudes loomaarstiks õppivatele tudengitele erinevaid võimalusi
            mitmekülgseks arenguks, eneseteostuseks ja meeleolukateks
            tudengiaastateks, loodame kaasa aidata nende oskuste täienemisse.
          </p>
        </div>
      </div>
    </section>
    <section class="min-h-screen w-full"></section>
  </main>
</Layout>
