---
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar';
import About from '../components/pages/Home/About.astro';
import Blog from '../components/pages/Home/Blog.astro';
import Hero from '../components/pages/Home/Hero.astro';
import Sponsors from '../components/pages/Home/Sponsors.astro';
import SectionWrapper from '../components/UI/SectionWrapper.astro';
import Layout from '../layouts/Layout.astro';

const { pathname } = Astro.url;
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load currentPath={pathname} />
    <SectionWrapper className="bg-emerald-50/40 backdrop-blur overflow-hidden">
      <Hero />
    </SectionWrapper>
    <Sponsors />
    <SectionWrapper
      className="bg-emerald-50/40 backdrop-blur border-b border-slate-200 shadow shadow-slate-200"
    >
      <About />
    </SectionWrapper>
    <SectionWrapper className="bg-emerald-50/40 backdrop-blur">
      <Blog />
    </SectionWrapper>
    <Footer />
  </main>
</Layout>
