---
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Eesti Veterinaarmeditsiini Üliõpilaste Selts">
  <main class="flex flex-col items-center">
    <Navbar client:load />
    <section class="relative w-full overflow-hidden py-20">
      <div class="z-20 relative px-4 pt-[60px] flex flex-col gap-20">
        <div class="flex flex-col gap-6">
          <h1 class="text-4xl text-emerald-600 font-semibold leading-tight">
            Seltsi info
          </h1>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
