---
import { ChevronRightIcon } from '@heroicons/react/20/solid';
import Header from '../../UI/Header.astro';
import AccentHeader from '../../UI/Text/AccentHeader.astro';
import Paragraph from '../../UI/Text/Paragraph.astro';

const aboutUsResponse = await fetch(
  'https://evys-api-production.up.railway.app/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
      query {
        aboutUsImages {
          data {
            attributes {
              image {
                data {
                  attributes {
                    url
                  }
                }
              }
              location
            }
          }
        }
      }
    `,
    }),
  },
);

const json = await aboutUsResponse.json();
const data = json.data.aboutUsImages.data;

const smallLandscapeImage = data.find(
  (item: any) => item.attributes.location === 'small_landscape',
);

const largeLandscapeImage = data.find(
  (item: any) => item.attributes.location === 'large_landscape',
);

const portraitImage = data.find(
  (item: any) => item.attributes.location === 'portrait',
);

// largeLandscapeImage.attributes.image.data.attributes.url
---

<div
  class="max-w-screen-xl mx-auto px-4 md:px-8 overflow-visible grid grid-cols-1 lg:gap-8 xl:gap-2 lg:grid-cols-5"
>
  {/* Left column */}
  <div class="col-span-1 lg:col-span-2">
    <div class="sticky top-24">
      <Header
        color="cyan"
        subTitle="Meist"
        header="Kes me oleme?"
        text="Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini õppivad Eesti tudengid."
      />
    </div>
  </div>
  {/* Right column */}
  <div class="col-span-1 lg:col-span-3 mt-48">
    <ul role="list" class="-mt-12 space-y-12 divide-y divide-zinc-200">
      <li class="flex flex-col pt-12 gap-10">
        <div class="flex flex-col gap-10 sm:flex-row">
          <div class="max-w-xl flex-auto">
            <AccentHeader color="cyan">Seltsist</AccentHeader>
            <h3
              class="text-2xl font-bold leading-8 tracking-tight text-zinc-700 mt-1"
            >
              Seltsi info
            </h3>
            <div class="mt-4">
              <Paragraph>
                Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati
                Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini
                õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid
                loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua
                erinevate kursuste üliõpilased teineteisele lähemale.
              </Paragraph>
            </div>
          </div>
          <img
            class="aspect-[4/5] w-52 flex-none rounded-lg object-cover"
            src={portraitImage.attributes.image.data.attributes.url}
            alt=""
          />
        </div>
        <a href="/info">
          <button
            class="flex items-center gap-0.5 hover:gap-2 text-cyan-600 hover:text-cyan-700 transition-all"
          >
            <span class="font-semibold text-base lg:text-lg">Loe seltsist</span>
            <ChevronRightIcon className="text-inherit w-5 h-5 stroke-2" />
          </button>
        </a>
      </li>
      <li class="flex flex-col pt-12 gap-10">
        <div class="flex flex-col gap-10 sm:flex-row">
          <div class="max-w-xl flex-auto">
            <AccentHeader color="green">Juhatus ja meeskonnad</AccentHeader>
            <h3
              class="text-2xl font-bold leading-8 tracking-tight text-zinc-700 mt-1"
            >
              Tegevused ja vastutused
            </h3>
            <div class="mt-4">
              <Paragraph>
                Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati
                Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini
                õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid
                loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua
                erinevate kursuste üliõpilased teineteisele lähemale.
              </Paragraph>
            </div>
          </div>
          <img
            class="aspect-[4/5] w-52 flex-none rounded-lg object-cover"
            src={smallLandscapeImage.attributes.image.data.attributes.url}
            alt=""
          />
        </div>
        <a href="/info">
          <button
            class="flex items-center gap-0.5 hover:gap-2 text-emerald-600 hover:text-emerald-700 transition-all"
          >
            <span class="font-semibold text-base lg:text-lg"
              >Loe meeskondadest</span
            >
            <ChevronRightIcon className="text-inherit w-5 h-5 stroke-2" />
          </button>
        </a>
      </li>
      <li class="flex flex-col pt-12 gap-10">
        <div class="flex flex-col gap-10 sm:flex-row">
          <div class="max-w-xl flex-auto">
            <AccentHeader color="rose">Dokumendid</AccentHeader>
            <h3
              class="text-2xl font-bold leading-8 tracking-tight text-zinc-700 mt-1"
            >
              Vajalikud dokumendid
            </h3>
            <div class="mt-4">
              <Paragraph>
                Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati
                Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini
                õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid
                loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua
                erinevate kursuste üliõpilased teineteisele lähemale.
              </Paragraph>
            </div>
          </div>
          <img
            class="aspect-[4/5] w-52 flex-none rounded-lg object-cover"
            src={largeLandscapeImage.attributes.image.data.attributes.url}
            alt=""
          />
        </div>
        <a href="/info">
          <button
            class="flex items-center gap-0.5 hover:gap-2 text-rose-600 hover:text-rose-700 transition-all"
          >
            <span class="font-semibold text-base lg:text-lg"
              >Vaata dokumente</span
            >
            <ChevronRightIcon className="text-inherit w-5 h-5 stroke-2" />
          </button>
        </a>
      </li>
    </ul>
  </div>
</div>
