---
import Header from '../../UI/Header.astro';
import DefaultBlogCard from './DefaultBlogCard.astro';
import FullHeightBlogCard from './FullHeightBlogCard.astro';
import FullWidthBlogCard from './FullWidthBlogCard.astro';

const posts = [
  {
    title: 'Boost your conversion rate',
    href: '#',
    category: { name: 'Article', href: '#' },
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.',
    date: 'Mar 16, 2022',
    datetime: '2022-03-16',
    imageUrl:
      'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80',
    readingTime: '6 min',
  },
  {
    title: 'How to use search engine optimization to drive sales',
    href: '#',
    category: { name: 'Video', href: '#' },
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit facilis asperiores porro quaerat doloribus, eveniet dolore. Adipisci tempora aut inventore optio animi., tempore temporibus quo laudantium.',
    date: 'Mar 10, 2022',
    datetime: '2022-03-10',
    imageUrl:
      'https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80',
    readingTime: '4 min',
  },
  {
    title: 'Improve your customer experience',
    href: '#',
    category: { name: 'Case Study', href: '#' },
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum rerum voluptatem quo recusandae magni placeat saepe molestiae, sed excepturi cumque corporis perferendis hic.',
    date: 'Feb 12, 2022',
    datetime: '2022-02-12',
    imageUrl:
      'https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80',
    readingTime: '11 min',
  },
  {
    title: 'Boost your conversion rate',
    href: '#',
    category: { name: 'Article', href: '#' },
    description:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.',
    date: 'Mar 16, 2022',
    datetime: '2022-03-16',
    imageUrl:
      'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80',
    readingTime: '6 min',
  },
];
---

<div
  class="absolute inset-x-0 top-0 -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-5rem]"
>
  <svg
    class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-5rem)] sm:h-[42.375rem]"
    viewBox="0 0 1155 678"
  >
    <path
      fill="url(#fda4af-d39d-499b-bd42-aeea3e93f5ff)"
      fill-opacity=".3"
      d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
    ></path>
    <defs>
      <linearGradient
        id="fda4af-d39d-499b-bd42-aeea3e93f5ff"
        x1="1155.49"
        x2="-78.208"
        y1=".177"
        y2="474.645"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#059669"></stop>
        <stop offset={1} stop-color="#fda4af"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
<div class="bg-grid absolute bottom-0 left-0 h-2/3 w-full z-0"></div>
<div class="relative px-4 max-w-screen-xl mx-auto z-10">
  <Header
    color="rose"
    subTitle="Blogi"
    header="Loe ja tutvu meie tegevustega"
    headerClassName="!text-3xl lg:!text-5xl lg:!leading-tight"
    wrapperClassName="text-center items-center mx-auto"
  />
  <div class="mt-12 grid md:grid-cols-2 max-w-sm md:max-w-2xl gap-6 lg:hidden">
    {
      posts.slice(0, 3).map((post) => {
        return <FullHeightBlogCard post={post} />;
      })
    }
  </div>
  <div
    class="hidden mx-auto mt-12 max-w-sm gap-6 lg:grid lg:gap-12 lg:max-w-none lg:grid-cols-3 lg:grid-rows-2"
  >
    {
      posts.map((post, idx) => {
        if (idx === 0) return <FullHeightBlogCard post={post} />;
        if (idx === 1) return <FullWidthBlogCard post={post} />;
        return <DefaultBlogCard post={post} />;
      })
    }
  </div>
  <!-- <div class="mt-12">
    <a href="/blog">
      <button
        class="flex items-center gap-0.5 hover:gap-2 text-rose-600 hover:text-rose-700 transition-all"
      >
        <span class="text-base lg:text-lg lg:font-semibold"
          >Loe meist rohkem</span
        >
        <ChevronRightIcon className="text-inherit w-5 h-5" />
      </button>
    </a>
  </div> -->
</div>
