---
const sponsorResponse = await fetch(
  'https://evys-api-production.up.railway.app/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
        query {
          sponsors {
            data {
              attributes {
                logo {
                  data {
                    attributes {
                      url
                    }
                  }
                }
              }
            }
          }
        }
      `,
    }),
  },
);

const json2 = await sponsorResponse.json();
const data2 = json2.data.sponsors.data;
---

<div
  class="relative bg-gradient-to-r from-emerald-600 to-cyan-700 w-full overflow-hidden shadow shadow-cyan-700 border-y border-cyan-600"
>
  <div class="absolute -top-52 -right-64 h-96 w-96 blur-2xl">
    <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path
        fill="#0891b2"
        d="M49.5,-68.9C63.5,-57.9,73.9,-42.6,75.9,-26.9C77.9,-11.2,71.6,5,66.4,21.8C61.3,38.6,57.3,56,46.4,66.9C35.6,77.9,17.8,82.3,0.5,81.7C-16.8,81,-33.6,75.2,-49.4,65.9C-65.2,56.5,-80,43.7,-87.4,27C-94.8,10.3,-94.7,-10.2,-88.5,-28.6C-82.3,-46.9,-69.9,-63,-54.1,-73.4C-38.3,-83.8,-19.2,-88.4,-0.7,-87.4C17.7,-86.5,35.4,-79.8,49.5,-68.9Z"
        transform="translate(100 100)"></path>
    </svg>
  </div>
  <div class="mx-auto max-w-lg py-20 px-4">
    <div class="flex items-center justify-center gap-5 flex-col">
      <h6 class="text-white font-bold text-lg tracking-wide">Meid toetavad</h6>
      <div class="h-[3px] w-24 bg-white rounded-full"></div>
    </div>
    <div
      class="grid grid-rows-2 gap-3 lg:gap-5 mt-7 lg:grid-cols-2 lg:grid-rows-1"
    >
      {
        data2.map((sponsor: any) => {
          return (
            <div class="flex w-full justify-center">
              <div class="relative bg-slate-200/30 border border-slate-200/40 backdrop-blur p-4 rounded-lg h-full flex items-center justify-center w-[60%] lg:w-full">
                <div class="noise" />
                <img
                  src={sponsor.attributes.logo.data.attributes.url}
                  alt="image"
                  class="w-full"
                />
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
