---
import AboutItem from './AboutItem';
import Mission from './Mission';

const aboutUsResponse = await fetch(
  'https://evys-api-production.up.railway.app/graphql',
  {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `
      query {
        aboutUsImages {
          data {
            attributes {
              image {
                data {
                  attributes {
                    url
                  }
                }
              }
              location
            }
          }
        }
      }
    `,
    }),
  },
);

const json = await aboutUsResponse.json();
const data = json.data.aboutUsImages.data;

const smallLandscapeImage = data.find(
  (item: any) => item.attributes.location === 'small_landscape',
);

const largeLandscapeImage = data.find(
  (item: any) => item.attributes.location === 'large_landscape',
);

const portraitImage = data.find(
  (item: any) => item.attributes.location === 'portrait',
);
---

<main
  class="max-w-screen-xl mx-auto px-4 md:px-8 overflow-visible grid grid-cols-1 lg:gap-8 xl:gap-2 lg:grid-cols-5"
>
  {/* Left column */}
  <section class="col-span-1 max-w-md lg:col-span-2">
    <header class="sticky top-24">
      <Mission
        client:visible
        color="cyan"
        subTitle="Kes me oleme"
        header="Pühendunud veterinaaria-üliõpilaste kogukond"
        text="Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini õppivad Eesti tudengid."
      />
    </header>
  </section>
  {/* Right column */}
  <section class="col-span-1 lg:col-span-3 mt-12 lg:mt-48">
    <ul role="list" class="pt-8 flex flex-col gap-12">
      <AboutItem
        client:visible
        color="cyan"
        header="Seltsist"
        buttonText="Loe seltsist"
        description="Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua erinevate kursuste üliõpilased teineteisele lähemale."
        imageUrl={portraitImage.attributes.image.data.attributes.url}
      />
      <AboutItem
        client:visible
        color="green"
        header="Juhatus ja meeskonnad"
        buttonText="Tutvu meeskondadega"
        description="Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua erinevate kursuste üliõpilased teineteisele lähemale."
        imageUrl={smallLandscapeImage.attributes.image.data.attributes.url}
      />
      <AboutItem
        client:visible
        color="rose"
        header="Dokumendid"
        buttonText="Vaata dokumente"
        description="Eesti Veterinaarmeditsiini Üliõpilaste Selts (EVÜS) asutati Tartus 2013. aastal, et ühendada enda alla veterinaarmeditsiini õppivad Eesti tudengid. Seltsisiseselt korraldatakse erialaseid loenguid, õpitubasid ja väljasõite ning vabaajaüritusi, et tuua erinevate kursuste üliõpilased teineteisele lähemale."
        imageUrl={largeLandscapeImage.attributes.image.data.attributes.url}
      />
    </ul>
  </section>
</main>
