---
import { getDirectusClient } from "../../utils/get-directus-client";
import SponsorItem from "./components/SponsorItem";

type Sponsor = {
  id: string;
  name: string;
  logo: string;
};

const directus = await getDirectusClient();
const sponsors = (await directus.items("sponsor").readByQuery())
  .data as Sponsor[];
---

<main
  class="relative z-20 w-full border-y border-cyan-600 bg-gradient-to-r from-emerald-600 to-cyan-700 shadow-lg shadow-cyan-700/30"
>
  <section class="mx-auto max-w-lg py-24 px-4">
    <header class="flex flex-col items-center justify-center gap-4">
      <h6 class="text-lg font-bold tracking-wide text-white lg:text-xl">
        Meid toetavad
      </h6>
      <figure class="h-[3px] w-24 rounded-full bg-white"></figure>
    </header>
    <ul
      class="mt-8 grid grid-rows-2 gap-4 lg:grid-cols-2 lg:grid-rows-1 lg:gap-8"
    >
      {
        sponsors.map((sponsor) => {
          return <SponsorItem client:visible imageId={sponsor.logo} />;
        })
      }
    </ul>
  </section>
</main>
