---
import Footer from "../components/Footer/Footer.astro";
import Navbar from "../components/Navbar/Navbar";
import SideNav from "../components/SideNav.astro";
import "../styles.css";

const { title } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang="et" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="webp" href="/favicon.webp" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative h-full antialiased">
    <Navbar client:load url={url.pathname} />

    <main
      id="swup"
      class="transition-fade flex min-h-screen flex-col items-center"
    >
      <slot />
    </main>

    <div id="side-nav" class="hidden">
      <div class="absolute top-64 left-0 hidden h-[70%] w-[300px] xl:block">
        <SideNav />
      </div>
    </div>

    <Footer />

    <script src="../scripts/router.js"></script>
  </body>
</html>

<style is:global>
  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11" !important;
  }
</style>
