---
import clsx from 'clsx';

const { subTitle, header, text, wrapperClassName, headerClassName } =
  Astro.props;
---

<div class={clsx('flex flex-col gap-2 max-w-md', wrapperClassName)}>
  <h6 class="text-emerald-600 font-semibold text-sm lg:text-base">
    {subTitle}
  </h6>
  <h2
    class={clsx(
      'font-bold text-xl text-zinc-700 tracking-tight mt-2',
      headerClassName,
    )}
  >
    {header}
  </h2>
  <div class="h-[2px] w-56 bg-emerald-600 rounded-full my-3"></div>
  <p class="text-zinc-600 leading-relaxed">
    {text}
  </p>
</div>
