---
import clsx from 'clsx';

const { subheader, header, text, wrapperClassName } = Astro.props;
---

<div class={clsx('flex flex-col gap-3 max-w-sm', wrapperClassName)}>
  <h6 class="text-emerald-600 font-bold text-sm tracking-wide lg:text-base">
    {subheader}
  </h6>
  <h2 class="font-bold text-xl text-zinc-700 lg:text-2xl">
    {header}
  </h2>
  <div class="h-[3px] w-24 bg-emerald-600 rounded-full my-3"></div>
  <p class="text-zinc-500 text-sm leading-6 lg:leading-7 lg:text-base">
    {text}
  </p>
</div>
