---
import clsx from 'clsx';

const { subheader, header, text, wrapperClassName, headerClassName } =
  Astro.props;
---

<div class={clsx('flex flex-col gap-2 lg:gap-4  max-w-sm', wrapperClassName)}>
  <h6 class="text-emerald-600 font-bold text-sm tracking-wide lg:text-base">
    {subheader}
  </h6>
  <h2
    class={clsx('font-bold text-xl text-zinc-700 lg:text-2xl', headerClassName)}
  >
    {header}
  </h2>
  <div class="h-[3px] w-56 bg-emerald-600 rounded-full my-3"></div>
  <p class="text-zinc-600 text-sm leading-6 lg:leading-7 lg:text-base">
    {text}
  </p>
</div>
