---
import clsx from 'clsx';
import AccentHeader from './Text/AccentHeader.astro';
import BigSectionHeader from './Text/BigSectionHeader.astro';
import Paragraph from './Text/Paragraph.astro';

const {
  subTitle,
  header,
  text,
  wrapperClassName,
  headerClassName,
  color = 'green',
} = Astro.props;
---

<div class={clsx('max-w-md lg:max-w-lg', wrapperClassName)}>
  <AccentHeader color={color}>
    {subTitle}
  </AccentHeader>
  <div class="mt-4">
    <BigSectionHeader>
      {header}
    </BigSectionHeader>
  </div>
  <div class="mt-2">
    <Paragraph>
      {text}
    </Paragraph>
  </div>
</div>
