---
import clsx from 'clsx';

const {
  subTitle,
  header,
  text,
  wrapperClassName,
  headerClassName,
  color = 'green',
} = Astro.props;
---

<div class={clsx('flex flex-col gap-2 max-w-md', wrapperClassName)}>
  <h6
    class={clsx(
      'text-emerald-600 font-semibold text-sm lg:text-base',
      color === 'green' && 'text-emerald-600',
      color === 'cyan' && 'text-cyan-600',
      color === 'rose' && 'text-rose-600',
    )}
  >
    {subTitle}
  </h6>
  <h2
    class={clsx(
      'font-bold text-xl text-zinc-700 tracking-tight mt-2',
      headerClassName,
    )}
  >
    {header}
  </h2>
  <p class="text-zinc-600 leading-relaxed mt-2">
    {text}
  </p>
</div>
